* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #ece9fd;
}
.conteiner {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  border: 1px solid black;
}
.box {
  font-family: Epilogue;
  max-width: 484px;
  margin: 80px 116px 180px 135px;
  border: 1px solid black;
}
.box-itens {
  border: 1px solid black;
}
header h1 {
  color: #7158ef;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 17px;
}
main h1 {
  color: #090039;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}
main p {
  color: rgba(10, 0, 57, 0.64);
  line-height: 32px;
  padding: 31px 0px 28px 0px;
}
main a {
  color: #090039;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}
