* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
body {
  font-family: 'Epilogue', sans-serif;
  background: #ece9fd;
  font-size: 1.6rem;
}
:root{
  font-size: 62.5%;
}
.conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 11.6rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.box {
  max-width: 48.4rem;
  margin: 8.0rem 0rem 18.0rem 0rem;
}
header h1 {
  color: #7158ef;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding-bottom: 1.7rem;
}
main h1 {
  color: #090039;
  font-size: 4.0rem;
  font-weight: 800;
  line-height: 4.8rem;
}
main p {
  color: rgba(10, 0, 57, 0.64);
  line-height: 3.2rem;
  padding: 3.1rem 0rem 2.8rem 0rem;
}
main a {
  color: #090039;
  font-weight: 400;
  line-height: 3.2rem;
  text-decoration: none;
}
.box-itens {
  margin-top: 5.0rem;
}
span {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8.0rem; 
  letter-spacing: -2.0rem;
  margin-right: 6.6rem;
}
.benefit-title{
  margin: 3.2rem 0rem;
}
.box-itens li {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #090039;
  font-weight: 700;
}
@media(max-width: 1030px){
  .conteiner{
    gap: 4.0rem;
  }
  .box{
    padding: 2.0rem;
    margin: 0rem;
  }
  .box-itens {
    padding: 2.0rem;
    margin: 0rem 0rem 2.0rem;
  }
}